.timeStepUpDown {
    font-size: 140%;
    user-select: none;
}

tr:nth-child(even) {
    background: #CCC
}

table {
    border-collapse: collapse;
}
body {
    font-family: 'Comic Sans MS';
}
/* Main side */
.velgstedKnapp {
    background-color: cornflowerblue;
    font-size: 15px;
    color: white;
}

.klesanbefalingKnapp {
    font-size: 15px;
    background-color: cornflowerblue;
    color: white;
}
h3 {
    color: cornflowerblue;
    font-size: 20px;
}
/* Login side */
h1 {
    color: cornflowerblue;
}

/* NewUser side */
